<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="artifactory" value="https://binary.alfabank.ru/artifactory/api/nuget/nuget_public" />
        <add key="local" value="https://binary.alfabank.ru/artifactory/api/nuget/nuget_local" />
    </packageSources>
    <packageSourceCredentials>
        <artifactory>
            <add key="Username" value="tfsbuildserver" />
            <add key="ClearTextPassword" value="BuildServerTFS2020" />
        </artifactory>
        <local>
            <add key="Username" value="tfsbuildserver" />
            <add key="ClearTextPassword" value="BuildServerTFS2020" />
        </local>
    </packageSourceCredentials>
</configuration>
